body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;     /* Centre verticalement */
    margin: 0;
}

#quiz-container {
    background: blue;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.question {
    text-align: center;
    color: white;
    background-color: red;
}

.options {
    background-color: #8ae99e;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, auto));
}

button {
    background-color: transparent;
    margin: 5px;
    border: 3px solid;
    border-image: linear-gradient(to bottom right,#F1C732,#ebebb8,#F0F0E5);
    border-image-slice: 1;
    border-radius: 3px ;
    color: white;
}

.button-container {
    align-self: center;
}

#next-button {
    border-radius: 10px; 
    background-color: blueviolet;
    border-width: 4px;
    border-color: #8ae99e;
    color: white;
}