body {
    background-color: #4A233B; /*couleur de fond*/
    margin: 0 auto;
    margin-top: 50vh; /*Contenu placé à la moitié de la hauteur du viewport*/
    transform: translateY(-50%); /*Decale le contenu de 50% de sa propre hauteur sur l'axe des Y*/
    text-align: center; /*Centre le texte */
}

.question {
    font-size :40px;
    color: white;
    border: 3px solid transparent;
    background: linear-gradient(#4A233B,#4A233B) padding-box,
                linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius:10px;
    max-width: fit-content;
    margin:0 auto;
    margin-bottom: 25px;
    text-align: center;
}

.options{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, auto));
    max-width: fit-content;
    margin:0 auto;
    text-align:center;
}

button {
    background: linear-gradient(#4A233B,#4A233B) padding-box,
                linear-gradient(to right, darkblue, darkorchid) border-box;
    /*background-color: transparent;*/
    margin: 10px;
    border: 3px solid transparent;
    border-radius: 10px ;
    color: white;
    font-size:25px
}

#next-button {
    border-radius: 10px; 
    background-color: transparent;
    border-width: 4px;
    border-color: #8ae99e;
    color: white;
}