body {
    background-color: #4A233B; /*couleur de fond*/
    margin: 0 auto;
    margin-top: 50vh; /*Contenu placé à la moitié de la hauteur du viewport*/
    transform: translateY(-50%); /*Decale le contenu de 50% de sa propre hauteur sur l'axe des Y*/
    text-align: center; /*Centre le texte */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;  
}

.question {
    font-size :40px; /*taille de la police*/
    color: white; /*Couleur de police*/
    border: 3px solid transparent; /*contour plein et transparent*/
    background: linear-gradient(#4A233B,#4A233B) padding-box, /*Intérieur du bouton*/
                linear-gradient(to right, darkblue, darkorchid) border-box; /*contour du bouton*/
    border-radius:10px; /*Arrondir les angles*/
    /* max-width: fit-content; la largeur du bouton correspond au contenu */
    max-width: 60vw;
    margin:0 auto;
    margin-bottom: 25px;
    text-align: center;
}

#quiz-container {
    background: navajowhite;
    margin: auto;
}

.options{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, auto));
    /* max-width: fit-content; */
}

button {
    background: linear-gradient(#4A233B,#4A233B) padding-box,
                linear-gradient(to right, darkblue, darkorchid) border-box;
    /*background-color: transparent;*/
    margin: 10px;
    border: 3px solid transparent;
    border-radius: 10px ;
    color: white;
    font-size:25px
}

#next-button {
    border-radius: 10px; 
    background-color: transparent;
    border-width: 4px;
    border-color: #8ae99e;
    color: white;
}