body {
    background-color: #000000;

    /* TAILLE DU BODY */
    min-height: 100vh; /* taille minimale */

    /* POSITION */
    /* margin: 0; */ /* en conflit avec flexbox */
    display: flex;
    justify-content: center;  /* aligne les éléments horizontalement */
    height: 100vh; /* obligé de donné une taille au body pour mettre en centre verticalement */
    align-items: center; /* aligne les éléments verticalement */
}

#quiz-container {
    /*background-color: #000000;*/ /* En conflit avec le background quelques lignes plus bas */

    /* LES BORDS */
    border: 0.7vw solid transparent; /* Épaisseur du bord */
    border-radius: 30px;
    background: linear-gradient(#000, #000) padding-box,
    radial-gradient(#00C9A7, #845EC2) border-box;

    /* TAILLE DU CONTAINER */
    /* Il semble que donner une taille au container permet après de jouer avec flexbox et de la positionner sur notre écran */
    width: 50vw;
    height: fit-content;

    /* POSITION DES ÉLÉMENTS À L'INTÉRIEUR */
    display: flex; /* doit être "appeler" pour utiliser les paramètres qui positionnent */
    flex-direction: column; /* permet de mettre en colonne */
    align-items: center; /* centre les blocs au centre */
    justify-content: space-between; /* met en espace entre les blocs */
}

/* POLICE */
.question, .button-options, #next-button, #replay-button {
    font-family: "Gill Sans";
    color: white;
    font-size: x-large;
}

.question {
    /* POSITION ET DÉCO DU TEXTE */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    position: relative;
    text-align: center;
    font-size: xxx-large;

    /* TAILLE DU BLOC QUESTION */
    /*height: 10vh;*/
    max-height: fit-content;
    width: 50vw;

    /* LES BORDS */
    border: 0.7vw solid transparent; /* Épaisseur du bord */
    border-radius: 30px;
    background: linear-gradient(#000, #000) padding-box,
    radial-gradient(#00C9A7, #845EC2) border-box;
}

.options {
    background-color: transparent;

    /* TAILLE DU BLOC OPTIONS */
    width: 45vw;
    max-height: 30vh;
    margin-top: 5vh;

    /* POSITION / CENTRAGE */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
}

/* Cette classe doit être ajoutée au JS pour pouvoir l'appliquer à notre écran */
.button-options {
    /* TAILLE DU BOUTON */
    height: 6vh;
    width: 20vw;

    /* POSITION */
    margin: 0.5em 0.5em;

    /* LES BORDS */
    border: 0.5vw solid transparent; /* Épaisseur du bord */
    border-radius: 30px;
    background: linear-gradient(#000, #000) padding-box,
    radial-gradient(#00C9A7, #845EC2) border-box;
}

.button-container {
    /*background-color: cadetblue;*/
}

#next-button, #replay-button, #test {
    /*background-color: blueviolet;*/

    /* POSITION */
    margin: 3vh; /* marge entre le bas et le bouton */
    padding: 1rem 1rem;

    /* LES BORDS */
    border: 0.5vw solid transparent; /* Épaisseur du bord */
    border-radius: 30px;
    background: linear-gradient(#000, #000) padding-box, radial-gradient(#00C9A7, #845EC2) border-box;
}

.correct {
    color: #00C9A7;
    border: 0.5vw solid #00C9A7;
}

.untrue {
    color: #FF0000;
    border: 0.5vw solid #FF0000;
}